BITRIX24_BOT_MESSAGE_WEBHOOK=
BITRIX24_BOT_ID=
BITRIX24_BOT_CLIENT_ID=
BITRIX_PRODUCT_NOTIFICATION_MAX_ATTEMPTS=5
BITRIX_PRODUCT_NOTIFICATION_FALLBACK_MANAGER=17171
BITRIX_AVAILABILITY_CONFIRMATION_DIALOG_ID=17171
BITRIX_PRODUCT_NOTIFICATION_MANAGER_US=
BITRIX_PRODUCT_NOTIFICATION_MANAGER_UK=
BITRIX_PRODUCT_NOTIFICATION_MANAGER_DE=
BITRIX_PRODUCT_NOTIFICATION_MANAGER_FR=
BITRIX_PRODUCT_NOTIFICATION_MANAGER_ES=
BITRIX_PRODUCT_NOTIFICATION_MANAGER_IT=
BITRIX_PRODUCT_NOTIFICATION_MANAGER_PL=
BITRIX_PRODUCT_NOTIFICATION_MANAGER_CA=
BITRIX_PRODUCT_NOTIFICATION_MANAGER_CN=
BITRIX_PRODUCT_NOTIFICATION_MANAGER_TR=
PRODUCT_AVAILABILITY_CRON="0 0 * * *"
PRODUCT_AVAILABILITY_CRON_TIMEZONE=UTC
SHOPIFY_API_VERSION=2025-10
SHOPIFY_US_PUBLIC_URL=
SHOPIFY_PUBLIC_URL=
SHOPIFY_DE_PUBLIC_URL=
SHOPIFY_PL_PUBLIC_URL=
SHOPIFY_FR_PUBLIC_URL=
SHOPIFY_IT_PUBLIC_URL=
SHOPIFY_ES_PUBLIC_URL=
MANAGER_DASHBOARD_CACHE_TTL_MS=900000
MANAGER_AUTH_USER=
MANAGER_AUTH_PASSWORD=
